h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(85, 46, 46);
    background-size: contain;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial;
}
.nav{
    background: salmon;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav__logo{
height: 100%;
background: #fff;
}

.nav__img{
    height: 100%;
}

.nav_link{
    color: #1a1919;
    text-decoration: none; 
    margin: 10px;
    padding: 10px;
    background-color: rgb(188, 188, 226);  
}

.nav_link:hover{
    background-color: aqua;
}


.nav_link--color{
    color: teal;
}
